.container {
  width: 100%;
}

/* ヘッダー */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  font-family: 'Permanent Marker', cursive;
}

header h1 {
  font-size: 50px;
  padding: 30px 0px;

}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu li {
  margin-left: 20px;
  font-size: 20px;
}

header nav {
  margin-left: 30%;
}

header a {
  text-decoration: none;
  color: black;
}
/* ハンバーガーメニュー */
#toggle{
  position: fixed;
  top: 20px;
  right: 33px;
}

.hamburger {
  width: 28px;
  height: 30px;
  margin: 30px auto 10px;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburger span:after {
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 5px;
  background-color: black;
  transition: all 0.5s; /*←アニメーション*/
  backface-visibility: hidden;
  border-radius: 2px;
}

.hamburger.on span {
    /* transparent透明になる */
  background-color: transparent;
}

.hamburger.on span:before {
    /* transformは回転する translateは斜めの場所の運動 */
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
/* ハンバーガー終了 */


/*  スワイパー */
/* html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
} */
main {
  color:gray;
}

.swiper-container {
  width: 90%;
  height: 510px;
  background-color: blue;
}

.swiper-wrapper {
  /* position: relative; */
  /* width: 100%; */
  height: 100%;
  /* z-index: 1; */
  display: flex;
}

.swiper-slide {
  background-color: green;
  width: 90%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
    width: 80%;
    height: 450px;
}
.swiper-slide p {
  position: relative;
  color: white;
  top: 10%;
  left: 48%;
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);

}
/*  スワイパー終了 */




h2 {
  font-size: 50px;
  color: black;
  font-family: 'Permanent Marker', cursive;
  margin: 40px 100px;
  border-bottom: green solid 5px;
  padding-left: 40px;
  width: 20%;
}
/* イラスト回転スライド */
section {
  background: rgba(138, 4, 26, 0.726);
  padding: 50px 0;
  height: 50vh;
} 

.skill-container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 280px;
  height: 230px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  opacity: 0.95;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: white;
  border-radius: 30%;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: white;
  border-radius: 30%;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: white;
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
}

/* 画像サイズ */
.carousel img {
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 850px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }
/* イラスト回転スライド終了 */



