@charset "UTF-8";
body {
  margin:  0 auto;
  width: 100%;
}
.container {
  width: 100%;
}

/* ヘッダー */
.main {
  height: 100vh;
}
header {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
}
header h1 {
  font-size: 312%;
  padding: 30px 0px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu li {
  margin-left: 20px;
  font-size: 153%;
  cursor: pointer;
}
header a {
  text-decoration: none;
  color: black;
}

/* ハンバーガーメニュー ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.hamburger_button {
  display: block;
  width: 42px;
  height: 26px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.hamburger_button .hamburger_bar {
  display: block;
  width: 42px;
  height: 2px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
}
.hamburger_button .hamburger_bar1 {
  top: 0;
}
.hamburger_button .hamburger_bar2 {
  top: 50%;
}
.hamburger_button .hamburger_bar3 {
  top: 100%;
}
.hamburger_button.active .hamburger_bar {
  width: 36.77px;
  left: 8px;
}
.hamburger_button.active .hamburger_bar1 {
  transform: rotate(0.7853981634rad) translateY(-50%);
  top: 0px;
}
.hamburger_button.active .hamburger_bar2 {
  opacity: 0;
}
.hamburger_button.active .hamburger_bar3 {
  transform: rotate(-0.7853981634rad) translateY(-50%);
  top: calc(100% - 0px);
}
.hamburger_button.active .hamburger_text {
  display: none;
}
.hamburger_button.active .hamburger_close {
  display: block;
}
.hamburger_text {
  width: 100%;
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  font-size: 10px;
}
.hamburger_close {
  letter-spacing: 0.08em;
  display: none;
}
/* button-color */
.hamburger_button {
  color: #21328A;
  text-shadow: 0 0 4px white, 0 0 14px white;
}
.hamburger_button .hamburger_bar {
  background-color: #21328A;
  box-shadow: 0 0 4px white, 0 0 14px white;
}
/* position */
.hamburgers .hamburger_button {
  position: fixed;
  top: 5.5%;
  right: 20px;
  z-index: 1001;
}
.hamburgers a {
  color: inherit;
  text-decoration: none;
}
.hamburgers a:visited {
  color: inherit;
}
.hamburgers .hamburger_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}
.hamburgers .hamburger_nav_wrapper {
  width: 312px;
  height: 100%;
  transition: all 0.2s;
  transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #FFF;
}
.hamburgers .hamburger_nav_wrapper.open {
  transform: translate(0);
}
.hamburgers.left .hamburger_button {
  right: auto;
  left: 32px;
}
.hamburgers.left .hamburger_nav_wrapper {
  transform: translate(-312px);
  right: auto;
  left: 0;
}
.hamburgers.left .hamburger_nav_wrapper.open {
  transform: translate(0);
}
/*+++ navigation +++*/
.hamburgers .hamburger_nav {
  font-family: 'Abel', sans-serif;
  padding: 170px 30px;
}
.hamburgers .hamburger_nav li {
  font-size: 25px;
  margin-bottom: 50px;
  color: #21328A;
  cursor: pointer;
}
.font-rp {
  display: none;
}
/* ハンバーガー終了＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */



/*  スワイパー ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
main {
  color:gray;
  height: 85vh;
}
.swiper-container {
  width: 90%;
  height: 95%;
}
.swiper-slide p {
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98.5%;
  height: 93%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 50px;
  font-family: 'Abel', sans-serif;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.canada{
  background-image: url(../img/travel/canada.jpg);
}
.cuba{
  background-image: url(../img/travel/cuba.jpg);
}
.Hokkaido{
  background-image: url(../img/travel/hokkaido.jpg);
}
.netherland{
  background-image: url(../img/travel/netherland.jpg);
}
.netherland2{
  background-image: url(../img/travel/netherland2.jpg);
}
.Okinawa {
  background-image: url(../img/travel/okinawa.jpg);
}
.Philippine {
  background-image: url(../img/travel/phili.jpg);
}
.Thailand {
  background-image: url(../img/travel/thai.jpg);
}
.Thailand2 {
  background-image: url(../img/travel/thailand.jpg);
}
/*  スワイパー終了＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


/* サブタイトル スタイル*/
h2 {
  font-size: 368%;
  color: black;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(transparent 30%, yellow 30%);
  border-radius: 10px;
  margin: 20px auto;
  width: 32%;
  text-align: center;
  padding-bottom: 12px;
}

/* icon スタイル */
.star {
  font-size: 130%;
}

/* aタグの設定 */
a {
  text-decoration: none;
}


/* skills イラスト回転スライド ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
section {
  height: 100vh;
  padding-top: 10vh;
}
.section {
  padding-top: 20vh;
  font: 15px/20px Arial, sans-serif;
  position: relative;
}
.carousel-container {
  margin: 0 auto;
  width: 250px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}
.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  display: flex;
  justify-content: center;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 250px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}
.css {
  transform: rotateY(0deg) translateZ(250px);
  background: rgba(238, 112, 54, 0.911);
  background-image: url(../img/skill/CSS5.jpeg);
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
.html {
  transform: rotateY(60deg) translateZ(250px);
  background: rgb(81, 169, 212);
  background-image: url(../img/skill/html5.png);
  background-size: 200px 199px;
  background-repeat: no-repeat;
  background-position: center;
}
.js {
  transform: rotateY(120deg) translateZ(250px);
  background: #5fb869;
  background-image: url(../img/skill/js.jpeg);
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
.php {
  transform: rotateY(180deg) translateZ(250px);
  background: rgb(202, 126, 163);
  background-image: url(../img/skill/php.png);
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
.sass {
  transform: rotateY(240deg) translateZ(250px);
  background: rgb(97, 174, 202);
  background-image: url(../img/skill/SASS.png);
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
} 
.word {
  transform: rotateY(300deg) translateZ(250px);
  background: #7D77AE;
  background-image: url(../img/skill/wordpress.jpeg);
  background-position: center;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}

.next, .prev {
  color: black;
  position: absolute;
  top: 56%;
  font-size: 20px;
  padding: 14px;
  cursor: pointer;
  background: rgba(204, 204, 204, 0.438);
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.685);
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { 
  background: rgba(204, 204, 204, 0.746);
}
.next:active, .prev:active {
  top: 56.5%;
  box-shadow: 0 1px 0 #999;
}
.next {
  right: 10%;
}
.prev {
  left: 10%;
}
/* イラスト回転スライド終了 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


/* Works パネル ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.panels {
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
  display: flex;
}
.panel {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, 0.19, 0.7, -0.11),background 0.2s;
  background-size: cover;
  background-position: center;
  flex: 1;
}
.pnl-style {
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  font-family: 'Abel', sans-serif;
  cursor: default;
}

.panel1 {
  background-image: url(../img/works/denkyu.jpg);
}
.panel2 {
  background-image: url(../img/works/hokkaiPic.jpg);
}
.panel3 {
  background-image: url(../img/works/okiPic.jpg);}
.panel4 {
  background-image: url(../img/works/student-849825_640.jpg);
background-position: -50px; 
}
.panel5 {
  background-image: url(../img/works/beach-1246646_960_720.jpg);
background-position: 550px;
}

.panel > * {
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
transform: translateY(0);
font-size: 1em;
}

/* button */
.panel .btn {
  transform: translateY(100%);
}
.panel.open-active .btn {
  transform: translateY(0);
  font-size: 0.8em;
}
.btn .button {
  font-size: 16px;
  padding: 4%;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;
  border: solid rgba(0,0,0,.21);
  border-width: 1px 1px 4px;
}
.btn a {
  color: black;
}
.btn .button:hover {
background-color: rgba(255, 255, 255, 0.842);
}
.btn .button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.btn {
  display: flex;
  flex-direction: column;
}
.panel p {
  text-shadow: 0 0 4px rgba(0,0,0,0.72), 0 0 14px rgba(0,0,0,0.45);
  font-size: 3em;
}
.panel .btn-p {
  text-shadow: 0 0 4px rgba(0,0,0,0.72), 0 0 14px rgba(0,0,0,0.45);
  font-size: 80%;
}
.panel.open {
    flex: 2;
    font-size: 2em;
}

/* panel padding */
.pdg-okinawa {
  padding-bottom: 32px;
}
.pdg-js {
  padding-bottom: 30px;
}
.pdg-real {
  padding-bottom: 22px;
}
/* パネルflex終了 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


/* profile ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.prof-h2 {
  margin-top: 50px;
}
.prof {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 60px 0px 120px 0px;
  margin: 0 auto;
}
.prof h3,h4 {
  font-family: 'Abel', sans-serif;
}
.profile {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prof-box {
  height: 150px;
  display: flex;
}
.img-left {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 35px;
  object-fit: cover;
}
.profile .name {
  font-size: 30px;
  margin: 42px 0px 0px 30px;
}
.profile .icon {
  display: flex;
  margin-top: 5px;
}
.profile i {
  margin: 0px 10px 0px 10px;
}
.flex p {
  line-height: 40px;
}
.last-flex p {
  line-height: 45px;
}
.profile p {
  color: gray;
  line-height: 25px;
  margin: 15px 0px 0px 58px;
  font-size: 15px;
}
.travel,
.hobby,
.contact {
  width: 16%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.contact {
  width: 20%;
}
.travel h4,
.hobby h4,
.contact h4 {
  font-size: 30px;
  padding: 11px 0px 64px 0px;
}
.travel a,
.hobby a,
.contact a {
  font-size: 18px;
  color: gray;
}
.travel {
  margin-left: 5%;
}
/* profile終了 ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


@media screen and (max-width: 1000px) {
  body{
    width: 100%;
  }
  .container {
    width: 100%;
  }
  header h1 {
    font-size: 260%;
  }
  h2 {
    font-size: 288%;
  }
  a{
    font-size: 90%;
  }

  .next {
    right: 2%; 
  }
  .prev {
    left: 2%; 
  }
  /* panel-padding */
  .pdg-hokkaido {
    padding-top: 47px;
  }
  .pdg-okinawa {
    padding-top: 40px;
  }
  .pdg-js {
    padding-top: 42px;
  }
  .pdg-real {
    padding-top: 46px;
  }
  .panel .btn-p {
    font-size: 65%;
  }
  .profile p {
    margin: 6% 0px 0px 5%;
  }
  .prof br {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  body{
    width: 100%;
  }
  .container {
    width: 100%;
  }
  header nav {
    display: none;
  }

  h2 {
    font-size: 200%;
  }
  .star {
    font-size: 90%;
  }

  .next {
    right: 15%;
  }
  .prev {
    left: 15%;
  }
  .next,
  .prev {
    top: 3%;
    font-size: 15px;
    padding: 11px 13px;
  }

  /* panels */
  .pdg-light {
    padding-top: 38px;
  }
  .pdg-hokkaido {
    padding-top: 29px;
  }
  .pdg-okinawa {
    padding-top: 40px;
  }
  .pdg-js {
    padding-top: 42px;
  }
  .pdg-real {
    padding-top: 46px;
  }
  .panels br {
    display: none;
  }
  .panel p {
    font-size: 2em;
}

  /* profile */
  .prof-box {
    height: 120px;
  }
  .profile .name {
    margin-left: 0;
  }
  .prof-box img {
    display: none;
  }
  .travel {
    margin-left: 3%;
  }
  .profile p {
    margin-left: 5%;
  }
  .last-flex p {
    line-height: 32px;
  }
}

@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  h2 {
    width: 48%;
  }

  /* swiper */
  .swiper-container {
    width: 90%;
    height: 70%;
  }
  .main {
    height: 465px;
  }
  .num {
    display: none;
  }

  /* skills */
  section {
    padding: 0px;
    height: 415px;
  }
  .star {
    font-size: 80%;
  }
  .carousel-container {
    width: 25%;
    height: 28px;
  }
  .item {
    width: 130px;
    height: 130px;
  }
  .css, .html, .js, .php, .sass, .word {
    background-size: 100px 100px;
  }
  .css {
    transform: rotateY(0deg) translateZ(150px);
  }
  .html {
    transform: rotateY(60deg) translateZ(150px);
  }
  .js {
    transform: rotateY(120deg) translateZ(150px);
  }
  .php {
    transform: rotateY(180deg) translateZ(150px);
  }
  .sass {
    transform: rotateY(240deg) translateZ(150px);
  } 
  .word {
    transform: rotateY(300deg) translateZ(150px);
  }
  .next:active, .prev:active {
    top: 5.5%;
  }

  /* works */
  .btn .button {
    font-size: 10px;
  }
  .panel p {
    font-size: 1.5em;
  }
  .panel.open-active > *:first-child {
    font-size: 65%;
  }
  /* works-padding */
  .pdg-light {
    padding-top: 4px;
  }
  .pdg-hokkaido {
    padding-top: 29px;
  }
  .pdg-okinawa {
    padding-top: 48px;
  }
  .pdg-js {
    padding-top: 42px;
  }
  .pdg-real {
    padding-top: 52px;
  }

  /* profile */
  .prof {
    display: block;
    width: 80%;
    padding: 0px 0px 60px 0px;
  }
  .profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile p {
    margin: 0px;
  }
    .prof-box {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }
  .travel, .hobby, .contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0px;
  }
  .travel h4, .hobby h4, .contact h4 {
    margin-bottom: 5%;
  }
  .flex {
    margin-left: 25%;
  }
  .last-flex {
    margin-left: 20%;
  }
  .flex p, .last-flex p {
    line-height: 25px;
  }
}

@media screen and (max-width: 375px) {
  body{
    width: 100%;
  }
  .container {
    width: 100%;
  }

  /* header */
  .fix {
    position: fixed;
    background-color: white;
    z-index: 1000;
    top: 0px;
  }
  .hamburgers .hamburger_nav_wrapper {
    width: 35%;
    height: 50%;
  }
  .hamburgers .hamburger_nav {
    padding: 93px 30px;
  }
  .hamburgers .hamburger_nav li {
    margin-bottom: 28px;
  }
  .font-pc {
    display: none;
  }
  .font-rp {
    display: block;
  }

  /* main */
  main {
    margin-top: 100px;
  }
  .main {
    height: 350px;
  }

  /* skills */
  .next {
    right: 8%;
  }
  .prev {
    left: 8%;
  }

  /* works */
  .panels {
    overflow-x: scroll;
    min-height: initial;
  }
  .panel {
    height: 85vh;
  }
  /* works-padding */
  .pdg-light {
    padding-top: 18px;
  }
  .pdg-hokkaido {
    padding-bottom: 34px;
  }
  .pdg-okinawa {
    padding-top: 22px;
  }
  .pdg-js {
    padding-top: 13px;
  }
  .pdg-real {
    padding-top: 49px;
  }

  /* profile */
  .travel, .hobby, .contact {
    width: 40%;
  }
  .flex {
    margin-left: 40%;
  }
}